
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
}
small.error {
    color: red;
    display: block;
    margin-bottom: 10px;
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(95, 95, 209);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}


.input-group label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: gray;
    background: white;
    padding: 0 5px;
    transition: 0.3s;
    pointer-events: none;
}


.input-group input:hover + label,
.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: rgb(112, 112, 189);
}

